aiogram==3.1.0
requests==2.31.0
cryptocode~=0.1
stellar-sdk==8.2.0
PyQRCode~=1.2.1
APScheduler==3.10.1
Pillow==9.5.0
pyzbar
fdb~=2.0.2
python-dateutil~=2.8.2
loguru==0.7.0
tzlocal==5.0.1
openai==0.27.8
SQLAlchemy>2.0
sqlalchemy-firebird>=2
aiohttp~=3.8.4
numpy==1.25.0
asyncio~=3.4.3
gspread
jsonpickle~=3.0.1
gspread_asyncio
aioredis~=2.0.1
pydantic[dotenv]
redis
packaging
sqlalchemy-stubs
pydantic-settings
sentry-sdk